.input-container {
    background-color: #3AD886;
    margin: 15px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.input {
    margin: 15px 0;
    width: 90%;
    margin-left: 20px;
}

#form-title {
    padding-left: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}